:root {
  --note-list-bar-background: var(--color-black-blue-200);
  --note-list-bar-pinned-section-header-background: var(--color-black-blue-400);
  --note-search-bar-input-background: var(--color-black-blue-100);
  --sidebar-sync-status-view-background: var(--color-black-blue-400);
  --sidebar-background: var(--color-black-blue-300);
  --editor-background: var(--color-black-blue-500);
}
